@import 'tailwindcss';

@theme {
    --animate-hightlight: highlightTarget 1.5s ease-out;
    @keyframes highlightTarget {
        0%, 20% {
            background-color: var(--color-gray-100);
            border-color: var(--color-gray-400);
        }
    }
}
